/* Header */


.nav img:nth-child(1) {
   padding-right: 20%;
  margin-left: 0px;
   order:-3;

}
.nav a:nth-child(3) {
  order: 3;
}
  .nav a:nth-child(4) {
    order: 1;}
    .nav a:nth-child(2) {
      order: 2;}
    
.mobile-link{width:49%;
margin-right: 2px;
padding:2px !important;
text-align: center;
border-bottom: 2px solid #f2f2f2;}

.desktop-searchfield{display: none;}
.mobile-searchfield{display:inline-block;}
.fa-search{background-color: transparent;}

.Filters div:nth-child(1) {/*see #filters*/
  }
  .Filters button:nth-child(2) {order:2;
  }
  .Filters button:nth-child(3) {order:4;
  }
  .Filters button:nth-child(4) {order:3;
  }
  .Filters button:nth-child(5) {order:5;
  }

    .filters-title {
   order:1;
  }

/* Container */
.container {
    margin:0px;
  }

/* Grid Area A */
main {
   background-color:transparent;
  padding: 10px;
}

.accomodation-card {
  width:100%;
}

/* Hotel Card Tags & Rate container */

.acc-card-info{overflow: hidden;}


/* Activities Grid Area C & Article */

article{
    padding:10px;
 }
     
.act-text {
overflow:hidden;
}
 
  .act-container .act-card:nth-child(1) {
    grid-row: span 4;
    grid-column: span 5;
   order:1;
  }
  .act-container .act-card:nth-child(2) {
    grid-row: span 4;
    grid-column: span 5;
    order:2;
  
  }

  .act-container .act-card:nth-child(3) {
    grid-row: span 4;
    grid-column: span 5;
    order:3;
  
  }
  .act-container .act-card:nth-child(4) {
    grid-row: span 4;
    grid-column: span 5;
    order:4;
   object-position: 50% 30%;
  }
  .act-container .act-card:nth-child(5) {
    grid-row: span 4;
    grid-column: span 5;
    order:6;
  object-position: 50% 30%;
  }
  .act-container .act-card:nth-child(6) {
    grid-row: span 4;
    grid-column: span 5;
    order:5;
   
  }
      .h-25 .image img {object-position: 50% 20%;}

/* Icons */

.heart {
  color: #0065fc;
  border-color: #f2f2f2;
}

/* Buttons */

/* Hyperlinks */
.mobile-link:hover {border-bottom: 4px solid #0065fc;}