body {
   font-family: system-ui, 'Helvetica Neue', Helvetica;
   background: #f06d06;
   color: white;
   text-align: center;
 }
 #firstpwithid {
     color: blue;
     background-color: yellow;
     font-family: sans-serif;
   font-size: 26px;
     font-style: italic;
     font-weight: 200;
    text-decoration: none;
   text-transform: lowercase;
   margin-bottom: 30px;
   border-style: dashed;
   padding: 50px;
   width: 20%;
   margin: 30px auto;
  }
 #two {
     color: red;
     background-color: blue;
     font-family: sans-serif;
   font-size: 1.125em;
    font-weight: bold;
       font-style: oblique;
    text-decoration: underline;
   text-transform: capitalize;
   margin-bottom: 30px;
   border-style: dotted;
   padding: 50px;
   width: 20%;
   margin: 30px auto;
   }
 #three {
     color: yellow;
     background-color: green;
     font-family: sans-serif;
    font-size: 112.5%;
     line-height: 1.4em;
    letter-spacing: 0.08em;
    word-spacing: 1.1em;
    font-weight: normal;
    text-decoration: line-through;
   text-transform: uppercase;
 margin-bottom: 30px;
  border-top-style: dotted;
   border-right-style: inset;
   border-bottom-style: ridge;
   border-left-style: outset;
    border-top-color: blue;
   border-right-color: red;
   border-bottom-color: yellow;
   border-left-color: orange;
   padding: 50px;
   width: 20%;
   margin: 30px auto;
   
  }
 a {  background-color: red;
     color: #000;
   font-weight: 200;
   text-decoration: none;
   text-transform: lowercase;
   font-family: Helvetica;
   color: #151814;
 }
 
 ul {
   background-color: blue;
   text-align: center;
   padding: 100px;
   width: auto; 
  }
 #nav {
   background-color: green;
   text-align: center;
   padding: 10px;
   list-style: none;
   width: auto;
     margin: -8px;
  }
 li {
   list-style: none;
   margin: 0px 20px;
   display: block;
 }
 
 a:hover {
     color: #151814;
     background-color: #DFFFD6;
     text-transform: uppercase;
     font-weight: normal;
 }
 a:visited {
     color: pink;
     background-color: green;
     text-transform: lowerase;
     font-weight: 200;
 }
   a:active {
     color: yellow;
     background-color: red;
     text-transform: capitalized;
     font-weight: 50;
 }