 {
  font-family: Helvetica;
  font-size: 1.2em;
  color: white;
  text-align: center;
}
.nav {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row; 
  grid-area: n;
}
.nav img:nth-child(1) {
  padding: 10px;
  padding-left: 0px;
  margin-right: auto;
  width:90px;
  height:50px;
}
a:link {
  color: black;
  text-decoration:none;
}
a:hover {
  color:#0065FC;
  }
a:visited {
  color: #DEEBFF; }

a:active {
  color:#0065FC;
  text-decoration: underline;  
}

.nav a{
   padding:20px;
}
.nav a:hover {
   font-weight:bolder;
 }
a:active {
  color:#0065FC;
   font-style: italic; 
}
.ul a:hover {
  color:black;
  font-style: italic;
  }

.ul a:active {
   text-decoration: none;  
}
#i {
  background-color:#f2f2f2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
padding-left:4px;
padding-top:1px;
padding-right:1px;
padding-bottom:1px;}
.searchicon{display:inline-block;
  border-color:#f2f2f2;
    }
  .container {
    display:grid;
    border:none;
     grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "n n n n"
        "h h h h"
        "a a a b"
        "a a a b"
        "c c c c"
        "f f f f";
        margin: 20px;
        justify-content:center;
     }
.container2{
  border: dashed;
  max-width: 880px auto-fit;
   display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row; 
   }

header {
  grid-area:h;
   color: black;
  font-family: "Raleway", sans-serif;
   text-decoration: none;
  text-align: left;
}
h3 {
  font-weight: bolder;
  margin-bottom: 1px;
}
#searchfield {
  color: white;
  background-color: blue;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 4px;
  margin-left:-4px;
}

.Filters {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 900;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
#filters {
  display: inline-block;
  margin-top: 8px;
  text-align: center;
  padding-right: 40px;
  margin-bottom:10px;
}

article{
  grid-area:a;
  background-color:#f2f2f2;
  border-radius: 10px;
  border:solid;
  padding: 40px;
  max-width:880px;
  margin-right: 50px;
   }
.hotelname {
  background-color: white;
  border-radius: 10px;
  display:inline-block;
  padding: 8px;
 margin-bottom: 20px;
  margin-left:-20px;
   max-width:200px;
   
}
#night {color:blue;}
#price {color:green;
width:20px;
height:20px;}
#rate {color:red;}

aside.b {
  background-color:#f2f2f2;
  grid-area:b;
  border-radius: 10px;
  width:360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; 
     }
     #popimage{background-color:transparent;
      margin-left: 200px;}
     .pop-header{margin-top: 25px;
    margin-left: 20px;
  margin-bottom: -25px;}
  .b div:nth-child(1) {
    order:0;
  align-self:flex-start;}
    .hotelname2 {
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  padding:5px;
  margin-right:20px;
  margin-left:20px;
  margin-bottom:20px;
  margin-top:0px;
 width:300px;
 height:137px;
}
section#c {
  background-color: #F5A623;
  grid-area: c;
}
.act {
  border-color: blue;
  background-color: green;
  border-radius: 10px;
  display: inline-block;
}
footer{grid-area: f;
    background-color:#f2f2f2;
 border:none;
 padding: 23px;
 }
 ul { list-style:none;

}
.ul{display:inline-block;
  vertical-align: top;
  margin-left: -20px;
  padding-right: 200px;
}
#main-acc{padding-bottom: 20px;
  margin-top: -18px;
color:green;
}
#hotel1 {
width: 200px;
height: 120px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

#hotel2{
  width:130px;
  height:136px;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}

#pop1{color:black;
border:none;
vertical-align: top;
text-align:left;
width: 150px;
display:inline-block;
padding-bottom: 10px;
}
#pop2{padding-bottom:20px;}
#money {color:#0065FC;
  border-color: #f2f2f2;
  padding-left:35px;
}
#bill{padding-top:9px;
  padding-bottom: 9px;
  padding-right:9px;
  padding-left: 9px;
  border-radius: 25px;
  margin-left: -39px;
    margin-top: -8px;
      position:absolute;}
      #kid {color:#0065FC;
      border-color: #f2f2f2;}
      #child{padding-top:9px;
        padding-bottom: 9px;
        padding-right:11px;
        padding-left: 11px;
        border-radius: 25px;
        margin-left: -35px;
          margin-top: -8px;
          position:absolute;}
      #heart {color:#0065FC;
        border-color: #f2f2f2;}
      #Romantic{padding-top:9px;
        padding-bottom: 9px;
        padding-right:9px;
        padding-left: 9px;
        border-radius: 25px;
        margin-left: -35px;
          margin-top: -8px;
          position:absolute;}
          #pet{padding-top:9px;
            padding-bottom: 9px;
            padding-right:9px;
            padding-left: 9px;
            border-radius: 25px;
            margin-left: -38px;
              margin-top: -8px;
              position:absolute;}
      #dog {color:#0065FC;
        border-color: #f2f2f2;}
i {background-color: #DEEBFF;}
.fa-info-circle {background-color: transparent;}
  .btn {
    border: solid;
    outline: none;
    padding: 6px 8px;
    background-color: #f1f1f1;
    cursor: pointer;
    margin-right: 40px;
    border-radius: 15px;
    padding-left:30px;
    margin-bottom: 5px;
     }
  
  /* Add a light grey background on mouse-over */
 .btn:hover{background-color: white;}

    /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }
  
  #hotel-acc-starblue{color:#0065FC;
    }
    #hotel-acc-stargrey{color:#f2f2f2;
    }
    .rate-container > i{background-color:transparent;}
       .footer{display:inline-block;}