body: {
  margin: 20px;
  padding: 0px;
  text-align: center;
}

.activity-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px 300px;
  gap: 40px;
  /* shrinks gaps that arent supposed to be there */
  grid-auto-flow: dense;
}
S .item {
  width: 100%;
  height: 100%;
  position: relative;
}
.act-container {
  border: solid black;
}

.item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.item:hover .image img {
  transform: scale(1.5);
}
.item .text {
  position: absolute;
  font-size: 20px;
}

.rw-2 {
  grid-row: span 2;
}
.h-1 (grid-column: span 1;);
