{
  font-family: Helvetica;
  font-size: 1.2em;
  color: white;
  text-align: center;
}
body {
  font-family: "Raleway", sans-serif;
}

/* Header */
header {
  margin: 20px;
  color: black;
   text-decoration: none;
  text-align: left;
}
.nav {
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
}
.nav img:nth-child(1) {
  padding: 10px;
  padding-left: 0px;
  margin-right: auto;
  width: 90px;
  height: 50px;
}
#i {
  background-color: #f2f2f2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 4px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}
.searchicon {
  display: inline-block;
  border-color: #f2f2f2;
}
#searchfield {
  color: white;
  background-color: blue;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 4px;
  margin-left: -4px;
}

.Filters {
  font-size: 15px;
  font-weight: 900;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
#filters {
  display: inline-block;
  margin-top: 8px;
  text-align: center;
  padding-right: 40px;
  margin-bottom: 10px;
}
/* Container */
.container {
  display: grid;
  border: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "a a a b"
    "a a a b"
    "c c c c"
    "f f f f";
  margin:20px;
  row-gap: 20px;
  column-gap:20px;
  justify-content: center;
}

/* Grid Area A */
article {
  grid-area: a;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: solid;
  padding: 40px;
  padding-bottom: 0px;
    max-width: 880px;
  
}
.container2 {
  border: dashed;
  max-width: 880px auto-fit;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 20px;
 
}
#seemore {font-size: 14px;}
#main-acc {
  padding-bottom: 10px;
  margin-top: -18px;
  color: none;
}
#hotel1image {
  width: 200px;
  height: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.accomodation-card {
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  padding: 8px;
  margin-bottom: 0px;
   margin-left: 0px;
  max-width: 200px;
}


/* Hotel Card Tags & Rate container */
#night {
  color: blue;
}
#price {
  color: grey;
  width: 20px;
  height: 20px;
}
#rate {
  color: red;
}
#hotel-acc-starblue {
  color: #0065fc;
}
#hotel-acc-stargrey {
  color: #f2f2f2;
}
.rate-container > i {
  background-color: transparent;
}

/* Most Popular Grid Area B */
aside.b {
  background-color: #f2f2f2;
  grid-area: b;
  border-radius: 10px;
  width: 360px;
  display:flex;
  border:dashed;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 21px;
}


#popimage {
  background-color: transparent;
  margin-left: 180px;
}
.pop-header {
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 12px;

}
.b div:nth-child(1) {
  order: 0;
  align-self: flex-start;
}
.popular-card{
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  width: 300px;
  height: 100%;
  border:solid red;
}

#pop-info {
  color: black;
  border: none;
  vertical-align: top;
  text-align: left;
  width: 150px;
  display: inline-block;
  padding-bottom: 10px;
}
#pop2 {
  padding-bottom: 20px;
  border:dashed;
  width:100%;
  font-size: 15px;
  margin-top: 0px;
}
#popular-card-image{width:130px;
height:136px;
object-position: 50% 50%;
border:solid red;
display: inline-block;
position: relative;}

#pop-hotel-name-mtr {margin-bottom: 0px;
}
#pop-image{
  width:100%;
  height:100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-position: 50% 50%;
  position: absolute;
}

/* Activities Grid Area C & Article */

section#c {
  background-color: none;
  grid-area: c;
 
}
.act-card {
  background-color:green;
  border-radius: 10px;
  width:100%;
  height: 100%;
  position: relative;
   display:grid;
  border:none;
 grid-template-rows:auto 40px;
}

.act-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows:67px 67px 67px 67px 67px 67px;
  gap: 20px;
  grid-auto-flow: dense;
  position: relative;

}

.act-card .image {
  border-top-left-radius:10px;
  border-top-right-radius:10px;
overflow:hidden;
height:100%;
width:100%;
background-color:none;
}
.act-card .image img{
 object-fit: cover;
 object-position: center;
    width:100%;
    height:100%;}
    
.act-text {font-style: italic;
margin-left:20px;
padding:0px;
border:none;
line-height: 40px;
}


  .text-container{border:none;
    height:30px;
  }
  
.h-2 {grid-row: span 6;}
.h-75{grid-row:span 4 }
.h-1{grid-row:span 2;}
.h-180{grid-row: span 3;}
/* Footer */
footer {
  background-color: #f2f2f2;
  border: none;
  padding: 23px;
}
.footer {
  display: inline-block;
}
ul {
  list-style: none;
}
.ul {
  display: inline-block;
  vertical-align: top;
  margin-left: -20px;
  padding-right: 200px;
}

/* Icons */
#money {
  color: #0065fc;
  border-color: #f2f2f2;
  padding-left: 35px;
}
#bill {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 25px;
  margin-left: -39px;
  margin-top: -8px;
  position: absolute;
}
#kid {
  color: #0065fc;
  border-color: #f2f2f2;
}
#child {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 11px;
  padding-left: 11px;
  border-radius: 25px;
  margin-left: -35px;
  margin-top: -8px;
  position: absolute;
}
#heart {
  color: #0065fc;
  border-color: #f2f2f2;
}
#Romantic {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 25px;
  margin-left: -35px;
  margin-top: -8px;
  position: absolute;
}
#pet {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 25px;
  margin-left: -38px;
  margin-top: -8px;
  position: absolute;
}
#dog {
  color: #0065fc;
  border-color: #f2f2f2;
}
i {
  background-color: #deebff;
}
.fa-info-circle {
  background-color: transparent;
}

/* Buttons */

.btn {
  border: solid;
  outline: none;
  padding: 6px 8px;
  background-color: #f1f1f1;
  cursor: pointer;
  margin-right: 40px;
  border-radius: 15px;
  padding-left: 30px;
  margin-bottom: 5px;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: white;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}


h1 {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 1px;
}
h2 {
  font-size: 18px;
  font-weight: bolder;
  display: inline;

}
/* Hyperlinks */
a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #0065fc;
}
a:visited {
  color: #0065fc;
}

a:active {
  color: #deebff;
  text-decoration: underline;
}

.nav a {
  padding: 20px;
}
.nav a:hover {
  font-weight: bolder;
}
.nav a:active {
  color: #0065fc;
  font-style: italic;
}
.ul a:hover {
  color: black;
  font-style: italic;
}

.ul a:active {
  text-decoration: none;
}