 {
  font-family: Helvetica;
  font-size: 1.2em;
  color: white;
  text-align: center;
}
.nav {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
}
.nav img:nth-child(1) {
  padding: 10px;
  padding-left: 0px;
  margin-right: auto;
  width:90px;
  height:50px;
}
a:link {
  color: black;
  text-decoration: none;
  padding: 20px;
}
a:hover {
  color: #0065fc;
  font-weight: bold;
}
a:visited {
  color: black;
}
a:active {
  color: #deebff;
  text-decoration: overline;
}

.container {
    display: grid;
  border:none;
    grid-template: repeat(auto, 1fr) / repeat(4, 1fr);
    grid-template-areas: 
      "h h h h"
        "a a a b"
        "a a a b"
        "c c c c"
        "f f f f";
       
}
.container2{display:inline-grid;
  grid-template: repeat(2,1fr) / repeat(3,1fr);
  border: solid;
  padding: 10px;
;
}

header {
  grid-area:h;
  background-color: green;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: none;
  text-decoration: none;
  text-align: left;
}
h3 {
  font-weight: bolder;
  margin-bottom: 1px;
}
#searchfield {
  color: white;
  background-color: blue;
  border: auto solid;
  border-right-radius: 10px;
  display: inline-block;
}
#i {
  background-color: #f2f2;
  padding: auto;
  margin: auto;
}
.Filters {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 900;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
#filters {
  display: inline-block;
  margin-top: auto;
  text-align: center;
  padding-right: 40px;
}

section#a {
  grid-area:a;
  background-color: grey;
  border-radius: 10px;
   }
.hotelname {
  background-color: white;
  border-radius: 10px;
  display:inline-block;
  padding: 8px;
  margin:10px;
  width:234px;
   
}
#night {color:blue;}
#price {color:green;
width:20px;
height:20px;}
#rate {color:red;}

section#b {
  background-color: #F8E71C;
  grid-area:b;
  border-radius: 10px;
}
.hotelname2 {
  background-color: white;
  border-radius: 10px;
  display:block;
  padding:8px;
  margin:10px;
}
section#c {
  background-color: #F5A623;
  grid-area: c;
}
.act {
  border-color: blue;
  background-color: green;
  border-radius: 10px;
  display: inline-block;
}

footer {
  grid-area:f;
  background-color: grey;
  padding: 23px;
  padding-bottom: auto;
  display: inline-block;
  text-align: top;
  justify-margin: auto;
  justify-content: top;
}
ul {
  justify-items: top;
  align-content: top;
  align-items: top;
  align-text: top;
}
.ul{display:inline-block;}

#hotel1 {
  width: 234px;
height: 120px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

#hotel2{
  width:137px;
  height:130px;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}

#pop{color:red;
border:solid;
width:200px;
display:inline-block;}